* {
    font-size: 16;
}

.container {
    display: flex;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-column {
    margin-left: 20px;
}

#depositType,
#depositDuration,
#calculateButton,
#derpositeSizeInput {
    margin: 10px;
    width: 200px;
    height: 40px;
}

#outputBox {
    text-align: center;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
    padding: 30px;
    width: 500px;
    height: 200px;
}